{%  extends 'base.html' %}
{% load static %}
{% block content %}
    {{ plot1 | safe }}
    {% load plotly_dash %}
    <div style="height: 50%; width: 50%">{{ genderDist | safe }}</div>
    <br>
    <div class="{% plotly_class name='SimpleExample' %} card" style="height: 100%; width: 100%">
        {% plotly_app name='SimpleExample' ratio=0.45 %}
    </div>
    <br>
    <div class="{% plotly_class name='SimpleExample2' %} card" style="height: 100%; width: 100%">
        {% plotly_app name='SimpleExample2' ratio=0.45 %}
    </div>
    <br>
    <div class="{% plotly_class name='SimpleExample3' %} card" style="height: 100%; width: 100%">
        {% plotly_app name='SimpleExample3' ratio=0.45 %}
    </div>


    

{% endblock %}